* {
  font-family: Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('./assets/fonts/SFProText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}







.tag-container{
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 8px 8px;
  justify-content: center;
  height: 10vh;

}

.tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  gap: 3px;
  padding: 0px 8px;
  height: 8vh;
  width: auto; 
}

#close-category-button{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  border: none;
  padding: 0px 8px;
  align-items: center;
  background-color: #b53f3f55;
  color: #ffffff;
  font-size: 16px;
  font-family:SF Pro Text;
  line-height: 18px;
  border-radius: 15px; 
  min-height: 20px;
  width: 20px;
}

#close-category-button:hover{
  background-color: #b53f3f;
  cursor: pointer;
  
}

#category-button {
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  justify-content: center;
  align-items: center;
  background-color: #3f51b5;
  color: #102046;
  background-color: rgba(207, 223, 255, 1);
  font-size: 17px;
  font-family: SF Pro Text;
  line-height: 18px;
  border-radius: 100px; 
  height: 20px;
  max-height: 45px;
  width: auto;
  border: none;
}

#category-button:hover {
  cursor: pointer;
}


.header {
  display: flex;
  flex-direction: row;
  font-size: 1.6rem;
  justify-content: center;
  align-items: center; 
  height: 15vh;
}

